/*
 navbar bg - #1f3349 
 highlighet text -#00c57f
 footer color - #6a6b6b
 main text - #404040
 secondary text - #5d5d5d
*/
.resultContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.resultTextContainer{
  margin: 95px 0;
  text-align: center;
  display: flex;
  justify-content: center;
}
.resultContainer img{
  width: 100%;
  border-radius: 5px;
}
.locationResult{
  /* align-items: center; */
  margin-bottom: 59px;
  cursor: pointer;
  justify-content: center;
}
.locationA{
  font-size: 2.3rem;
  color: #1f3349;
}
.locationB{
  font-size: 2.3rem;
  color: #5d5d5d;
}

.contentPart{
  color: #5d5d5d;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.contentPart .right{
  display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

/* Modify React bootstrap component  */
.page-link{
  padding: 0.375rem 0.75rem;
  margin: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 100%;
  color: #1f3349;
  background-color: white;
}
.page-link:focus, .page-item.active .page-link{
  background-color: #1f3349;
  color: white;
}


.contentPart .icon{
  font-size: 4em;
  margin-right: 20px;
  color:#1f3349
}
.location{
  margin-bottom: 30px;
  margin-left: 30px;
}


.content-min{
  display: flex;
  align-items: center;
}

/* -------------------------- Media query -----------------------  */
@media screen and (max-width:667px) {
  .page-link, .page-item{
    margin: 0;
    padding: 0;
  }
  .page-link{
    width: 35px;
    height: 35px;
  }
  .locationA, .locationB{
    font-size: 32px;
  }
  
  .location{
    text-align: center;
    margin-left: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .content-min{
    align-items: baseline;
    margin-bottom: 15px;
    margin-left: 7%;
  }
  .hidden{
    display:none;
  }
  /* .contentPart{
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  } */
  .contentPart{
    
    display: flex;
    justify-content: space-between;
  }
  .contentPart .right{
    display: flex;
      justify-content: space-around;
      flex-direction: column;
  }

  .contentPart .icon{
    font-size: 2rem;
  }
  .total{
    margin-left: 30%;
  }
  .total h2{
    font-size: 30px;
  }
  .total p{
    font-size: 18px
  }
  /* .imagePart img{
    width: 50%;
  } */
  .imagePart{
    display: flex;
    justify-content: center;
  }
  .resultTextContainer{
    margin:  30px 0;
  }
  .pagination{
    
  }
}

